<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <div class="content-header">
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#/dashboard">Inicio</a></li>
                <li class="breadcrumb-item"><a routerLink="{{directorio}}">Intranet</a></li>
                <li class="breadcrumb-item"><a routerLink="{{directorio}}">Operaciones</a></li>
                <li class="breadcrumb-item active" aria-current="page">Perfiles</li>

            </ol>
        </nav>
        <!--<h4 class="content-title content-title-sm">Configuraciones</h4>-->
    </div>
</div><!-- content-header -->

<div class="content-body">
    <div class="card card-invoice">
        <div class="card-header">
            <div>
                <!--<h5 class="mg-b-3">Invoice #DF032AZ00022</h5>-->
                <!--<span class="tx-sm text-muted">Due on September 15, 2019</span>-->
            </div>

        </div><!-- card-header -->
        <div class="card-body">
            <div class='component mg-b-10'>
                <div class="btn-toolbar" role="group">
                    <div class="btn-group mr-5" role="group">
                        <a type="button" routerLink={{directorio}}  class="btn btn-xs btn-primary" ><i class="fas fa-home  mg-r-5 fa-1x"></i>Inicio</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row row-xs">
                <div class="col-sm">
                    <div class="pd-y-10 pd-x-20 ">
                        <div id="jstree">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>