<mat-card>
    <mat-card-header>
        <mat-card-title>
            Perfiles
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
            <mat-card-actions class="button-group">
                <button mat-raised-button color="primary" (click)="e_menu()"><mat-icon>
                    menu</mat-icon>Menu</button>
            <button mat-raised-button color="primary" (click)="e_inicio()"><mat-icon> home
                </mat-icon> &nbsp;Inicio</button>
        </mat-card-actions>
        <div class="mt-2 mb-5">
            <mat-divider> </mat-divider> 
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="pd-y-10 pd-x-20 ">
                    <div id="jstree">
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>