<mat-card>
    <mat-card-header>
        <mat-card-title>
            Ubicacione(s) 2D
        </mat-card-title>
        <mat-card-subtitle>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions class="button-group">
            <button mat-raised-button color="primary"
                (click)="e_zonas()"><mat-icon>arrow_back_ios</mat-icon>Regresar</button>
            <button mat-raised-button color="primary" (click)="e_vista2d()"><mat-icon><mat-icon> my_location
                    </mat-icon></mat-icon>Vista
                2D</button>
        </mat-card-actions>
        <mat-divider> </mat-divider>
        <table id="tblubicaciones" class="table table-sm mg-b-0">
            <tr>
                <th scope="col" colspan="1">
                    <input type="checkbox" id="chkall" (click)="e_checkTodo()" value="first_checkbox">
                </th>
                <th scope="col">#</th>
                <th scope="col">Bloque</th>
                <th scope="col">Filas</th>
                <th scope="col">Bahias</th>
                <th scope="col">Altura</th>
                <th scope="col">Estado</th>
            </tr>
            <tbody>
                <tr *ngFor="let dato of datosConsultaDetUbicaciones; let i = index">
                    <td>
                        <input type="checkbox" id="check{{i}}" value="{{dato.ecoddetubicacion}}" class="ubicaciones">
                    </td>
                    <td>{{i+1 }}</td>
                    <td>{{dato.tbloque }}</td>
                    <td>{{dato.efilas }}</td>
                    <td>{{dato.ebahias }}</td>
                    <td>{{dato.ealturas }}</td>
                    <td>{{dato.testado }}</td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>