<mat-card>
    <mat-card-header>
        <mat-card-title>
            Perfiles
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>

            <button mat-raised-button color="primary" (click)="e_menu()"
                title="Menu"><mat-icon>list</mat-icon>&nbsp;Menu</button>
                
            <button mat-raised-button color="primary" (click)="e_guardar(formPerfil.value)"
                title="Menu"><mat-icon>save</mat-icon>&nbsp;Guardar</button>

            <button mat-raised-button color="primary" (click)="e_nuevo()"
                title="Menu"><mat-icon>save</mat-icon>&nbsp;Guardar</button>
        </mat-card-actions>
        <hr>
        <mat-card-actions>
            <div class="component mg-t-20">
                <div class="row row-xs">
                    <div class="col-sm">
                        <div class="pd-y-10 pd-x-20 ">
                            <div id="jstree">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm mg-t-10 mg-sm-t-0">
                        <form [formGroup]="formPerfil">
                            <div class="col-sm-12 mg-b-10">
                                {{lblObservacionesPerfil}}
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Descripción perfil</label>
                                    <input class="form-control form-control-sm" type="text"
                                        oninput="this.value = this.value.toUpperCase()" id="tdescripcion"
                                        formControlName="tdescripcion"
                                        [ngClass]="{'is-invalid': submitGuardar && frmPerfil.tdescripcion.errors}"
                                        name="usuario[tdescripcion]">
                                    <div *ngIf="submitGuardar && frmPerfil.tdescripcion.errors"
                                        class="invalid-feedback">
                                        <div *ngIf="frmPerfil.tdescripcion.errors.required">* Descripción
                                            perfil es
                                            requerido</div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Estado</label>
                                    <select class="custom-select form-control-sm" id="testado" name="perfil[testado]"
                                        formControlName="testado"
                                        [ngClass]="{ 'is-invalid': submitGuardar && frmPerfil.testado.errors }">
                                        <option value="VIGENTE">VIGENTE</option>
                                        <option value="NO VIGENTE">NO VIGENTE</option>
                                    </select>
                                    <div *ngIf="submitGuardar && frmPerfil.testado.errors" class="invalid-feedback">
                                        <div *ngIf="frmPerfil.testado.errors.required">* Estado es requerido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </mat-card-actions>
    </mat-card-content>
</mat-card>