<mat-card>
    <mat-card-header>
        <mat-card-title>
            Usuario
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
         <mat-card-actions class="button-group">
            <div class="btn-toolbar" role="group">
                <div class="btn-group mr-5" role="group">
                    <button mat-raised-button color="primary" (click)="e_regresar()"><i
                            class=" fas fa-outdent mg-r-5 fa-1x "></i>Regresar</button>
                </div>
            </div>
        </mat-card-actions>
        <hr>
        <div class="component mg-b-20 mg-t-10">
            {{lblpath}}
        </div>
        <hr>
        <div class="row">
            <div class="col-xl-6">
                <form [formGroup]="formUsuarioPendientes">
                    <div class='component mg-b-20'>
                        <div class="btn-toolbar" role="group">
                            <div class="btn-group mr-5" role="group">
                                <button mat-raised-button color="primary" (click)="e_agregar(formUsuarioPendientes)">
                                    <i class="fas fa-plus mg-r-5 fa-1x"></i>Agregar
                                    usuario(s)</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <mat-table [dataSource]="listaUsuariosPendientes" class="mat-elevation-z8" width="100%">
                            <!--Acciones -->
                            <ng-container matColumnDef="acciones">
                                <mat-header-cell *matHeaderCellDef style="text-align: center;">
                                    S
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <div style="text-align:center;">
                                        <input type="radio" name="checkCliente" value="{{element.ecodusuario}}"
                                            id="{{element.ecodusuario}}">
                                    </div>
                                </mat-cell>
                            </ng-container>

                            <!-- Id usuario -->
                            <ng-container matColumnDef="ecodusuario">
                                <mat-header-cell *matHeaderCellDef> NO.USUARIO </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.ecodusuario}}
                                </mat-cell>
                            </ng-container>

                            <!-- Nombre usuario -->
                            <ng-container matColumnDef="tnombre">
                                <mat-header-cell *matHeaderCellDef> USUARIO </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{element.tnombre}}
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumnsPendientes, sticky: true">
                            </mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumnsPendientes;">
                            </mat-row>

                        </mat-table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
                </form>
            </div>
            <div class="col-xl-6">
                <div class="table-responsive">

                    <mat-table [dataSource]="listaUsuariosAsignados" class="mat-elevation-z8">
                        <!--Acciones -->
                        <ng-container matColumnDef="acciones">
                            <mat-header-cell  *matHeaderCellDef style="text-align: center;">
                                S
                            </mat-header-cell>
                            <mat-cell  *matCellDef="let element">
                                <div style="text-align:center;">
                                    <input type="radio" name="checkCliente" value="{{element.ecodusuario}}"
                                        id="{{element.ecodusuario}}">
                                </div>
                            </mat-cell >
                        </ng-container>

                        <!-- Id usuario -->
                        <ng-container matColumnDef="ecodusuario">
                            <mat-header-cell  *matHeaderCellDef> NO.USUARIO </mat-header-cell>
                            <mat-cell  *matCellDef="let element">
                                {{element.ecodusuario}}
                            </mat-cell >
                        </ng-container>
                        <!-- Nombre usuario -->
                        <ng-container matColumnDef="tnombre">
                            <mat-header-cell  *matHeaderCellDef> USUARIO </mat-header-cell>
                            <mat-cell  *matCellDef="let element">
                                {{element.tnombre}}
                            </mat-cell >
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumnsAsignados, sticky: true">
                        </mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsAsignados;">
                        </mat-row>
                    </mat-table>

                </div>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </mat-card-content>
</mat-card>