<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <div class="content-header">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#/dashboard">Inicio</a></li>

                            <li class="breadcrumb-item"><a routerLink="{{directorio}}">Operaciones</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Consultar cliente(s)</li>
                        </ol>
                    </nav>
                </div>
            </div><!-- content-header -->
            <div class="content-body">
                <div class="card card-invoice">
                    <div class="card-header">
                        <div>
                            <!--<h5 class="mg-b-3">Invoice #DF032AZ00022</h5>-->
                            <!--<span class="tx-sm text-muted">Due on September 15, 2019</span>-->
                        </div>
                        <!--<div class="btn-group-invoice">
                <a [routerLink]="" class="btn btn-brand-02 btn-sm btn-uppercase" (click)="e_guarda()"><i
                        data-feather="save"></i> Guardar</a>
            </div>-->
                    </div><!-- card-header -->
                    <div class="card-body">
                        <div class="component mb-2">
                            <div class="button-row">
                                <button mat-raised-button color="primary" (click)="e_nuevo()"><mat-icon>
                                        insert_drive_file</mat-icon>&nbsp;Nuevo</button>
                            </div>
                        </div>
                        <hr>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">
                                        <!--Acciones -->
                                        <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                <div style="text-align:center;">
                                                    <button mat-button color="primary"
                                                        (click)="e_detalles(element.ecliente)">
                                                        <mat-icon>more_horiz</mat-icon>&nbsp;</button>
                                                    <button mat-button color="primary"
                                                        (click)="e_editar(element.ecliente)"><mat-icon>edit</mat-icon>&nbsp;</button>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <!-- Id Cliente -->
                                        <ng-container matColumnDef="ecliente">
                                            <th mat-header-cell *matHeaderCellDef> Id Cliente </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ecliente}} </td>
                                        </ng-container>
                                        <!-- trazonsocial -->
                                        <ng-container matColumnDef="trazonsocial">
                                            <th mat-header-cell *matHeaderCellDef>Razon social/Nombre</th>
                                            <td mat-cell *matCellDef="let element"> {{element.trazonsocial}} </td>
                                        </ng-container>
                                        <!-- trfc -->
                                        <ng-container matColumnDef="trfc">
                                            <th mat-header-cell *matHeaderCellDef>Rfc</th>
                                            <td mat-cell *matCellDef="let element"> {{element.trfc}} </td>
                                        </ng-container>
                                        <!-- testado -->
                                        <ng-container matColumnDef="testado">
                                            <th mat-header-cell *matHeaderCellDef>Estado</th>
                                            <td mat-cell *matCellDef="let element"> {{element.testado}} </td>
                                        </ng-container>
                                        <!-- fhfecharegistro -->
                                        <ng-container matColumnDef="fhfecharegistro">
                                            <th mat-header-cell *matHeaderCellDef>Fecha registro</th>
                                            <td mat-cell *matCellDef="let element"> {{element.fhfecharegistro}} </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"
                                    showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div><!-- card-body -->
                </div> <!-- card -->
            </div><!-- content-body -->
        </mat-card>
    </div>
</div>