<div class="contenedor">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-subtitle>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#/dashboard">Inicio</a></li>

            <li class="breadcrumb-item"><a routerLink="{{directorio}}">Operaciones</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transporte</li>
          </ol>
        </nav>
      </mat-card-subtitle>
      <div class="content-body" id="htmlSolicitudSalida">


        <div class="card card-invoice">
          <div class="card-header">
            <div>
              <h5 class="mg-b-3"></h5>
              <span class="tx-sm text-muted"></span>
            </div>
          </div>
          <div class="card-body">

            <div class="alert alert-{{lbltipoAlerta}}" role="alert">
              {{lblalert}}
            </div>

            <div *ngIf="divNotificacion" class="alert alert-warning" role="alert">
              <div [innerHTML]="lblNotificacionRechazo">
              </div>
            </div>


            <div class="row">
              <div class='component mg-b-20'>
                <div class="button-row">
                  <button mat-raised-button color="primary" [disabled]="lblestatus == 'RECHAZADA'"
                    [style.cursor]=" lblestatus == 'RECHAZADA' ? 'not-allowed' : '' "
                    [style.pointer-events]=" lblestatus == 'RECHAZADA' ? 'all !important' : '' "
                    (click)="e_imprimir()"><mat-icon> print </mat-icon>&nbsp; Imprimir</button>
                  <button mat-raised-button color="primary"
                    (click)="e_consulta()"><mat-icon>list</mat-icon>&nbsp;Consultar</button>
                  <button mat-raised-button color="primary" (click)="e_nuevo()"><i
                      class="fa fa-file mg-r-5 fa-1.5x"></i><mat-icon> insert_drive_file</mat-icon>&nbsp;Nuevo</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xl-12">
                <h6 class="mt-3 mb-2 text-primary">+ Operación</h6>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form-label">Transacción</label>
                  <br>
                  <label class="form-label">{{lbletransaccion}}</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form-label">Fecha de solicitud</label>
                  <br>
                  <label class="form-label">{{lblfhfecharegistro}}</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form-label">Tipo de Solicitud</label>
                  <br>
                  <label class="form-label">{{lblttiposolicitud}}</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form-label">Estado de solicitud</label>
                  <br>
                  <label class="form-label">{{lblestatus}}</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xl-12">
                <h6 class="mt-3 mb-2 text-primary">+ Usuarios</h6>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form-label">Programada</label>
                  <br>
                  <label class="form-label">{{lblusuarioprogramo}}</label>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form-label">Perfil</label>
                  <br>
                  <label class="form-label">{{lblusuarioperfil}}</label>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form-label">{{lblusuarioInterno}}</label>
                  <br>
                  <label class="form-label">{{lblusuarioautoriza}}</label>
                </div>
              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form-label">{{lblFechaInterno}}</label>
                  <br>
                  <label class="form-label">{{lblfhfechaautoriza}}</label>
                </div>
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-xl-12">
                <h6 class="mt-3 mb-2 text-primary">+ Cliente</h6>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">RFC</label>
                  <br>
                  <label class="form-label">{{lbltrfc}}</label>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Razón social</label>
                  <br>
                  <label class="form-label">{{lbltrazonsocial}}</label>
                </div>
              </div>
              <div class="col-sm-1">
                <div class="form-group">
                  <label class="form-label">Cp</label>
                  <br>
                  <label class="form-label">{{lblecodigopostal}}</label>
                </div>
              </div>
              <div class="col-sm-1">
                <div class="form-group">
                  <label class="form-label">Entidad</label>
                  <br>
                  <label class="form-label">{{lbltentidadfederativa}}</label>
                </div>
              </div>
              <div class="col-sm-1">
                <div class="form-group">
                  <label class="form-label">Municipio</label>
                  <br>
                  <label class="form-label">{{lbltmunicipio}}</label>
                </div>
              </div>
              <div class="col-sm-1">
                <div class="form-group">
                  <label class="form-label">Colonia</label>
                  <br>
                  <label class="form-label">{{lbltcolonia}}</label>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Calle</label>
                  <br>
                  <label class="form-label">{{lbltcalle}}</label>
                </div>
              </div>
              <div class="col-sm-1">
                <div class="form-group">
                  <label class="form-label">No.Interior</label>
                  <br>
                  <label class="form-label">{{lbltnuminterior}}</label>
                </div>
              </div>
              <div class="col-sm-1">
                <div class="form-group">
                  <label class="form-label">No.Exterior</label>
                  <br>
                  <label class="form-label">{{lbltnumexterior}}</label>
                </div>
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-xl-12">
                <h6 class="mt-3 mb-2 text-primary">+ Pago</h6>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Método de pago</label>
                  <br>
                  <label class="form-label">{{lblmetodopago}}</label>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Banco</label>
                  <br>
                  <label class="form-label">{{lblbanco}}</label>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Cfdi</label>
                  <br>
                  <label class="form-label">{{lblcfdi}}</label>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Cuenta</label>
                  <br>
                  <label class="form-label">{{lblcuenta}}</label>
                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Moneda</label>
                  <br>
                  <label class="form-label">{{lblmoneda}}</label>
                </div>
              </div>

            </div>
            <hr>
            <div class="row">
              <div class="col-xl-12">
                <h6 class="mt-3 mb-2 text-primary">+ Contacto</h6>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Fecha de servicio</label><br>
                  <label class="form-label">{{lblfhfechaservicio}}</label>

                </div>

              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Correo</label>
                  <br>
                  <label class="form-label">{{lbltcorreo}}</label>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Teléfono</label>
                  <br>
                  <label class="form-label">{{lblttelefono}}</label>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label class="form-label">Referencia</label>
                  <br>
                  <label class="form-label">{{lbltreferencia}}</label>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xl-12">
                <h6 class="mt-3 mb-2 text-primary">+ Servicio(s)</h6>
              </div>
              <div class="col-xl-12 mt-4 mb-4">
                <div class="table-responsive">
                  <table class="table table-sm mg-b-0">
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Tipo mercancia</th>
                      <th scope="col">Tipo servicio</th>
                      <th scope="col">Servicio</th>
                    </tr>
                    <tbody>
                      <tr *ngFor="let dato of datosservicios; let i = index">
                        <td> {{ i + 1}} </td>
                        <td> {{ dato.ttipomercancia }}</td>
                        <td> {{ dato.ttiposervicio }}</td>
                        <td> {{ dato.ttiposolicitud }}</td>
                      </tr>
                  </table>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <h6 class="mt-3 mb-2 text-primary">+ Operación </h6>
                </div>
                <div class="row">
                  <div class='col-sm-2'>
                    <div class='form-group'>
                      <label class="form-label">Ruta</label>
                      <br>
                      <label class="form-label">{{lbltruta}}</label>
                    </div>
                  </div>
                  <div class='col-sm-2'>
                    <div class='form-group'>
                      <label class="form-label">Trámite</label>
                      <br>
                      <label class="form-label">{{lblttramite}}</label>
                    </div>
                  </div>
                  <div class='col-sm-2'>
                    <div class='form-group'>
                      <label class="form-label">Carga</label>
                      <br>
                      <label class="form-label">{{lblttipocarga}}</label>
                    </div>
                  </div>
                  <div class='col-sm-2'>
                    <label class="form-label">Tipo transporte</label>
                    <br>
                    <label class="form-label">{{lblttipotransporte}}</label>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xl-12">
                <h6 class="mt-3 mb-2 text-primary">+ Mercancia(s)/Biene(s)</h6>
              </div>
              <div class="table-responsive mg-t-30">

                <table class="table  table-sm  bd-b-0">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">No.Guía</th>
                      <th scope="col">Embalaje</th>
                      <th scope="col">Naviera</th>
                      <th scope="col">Contenedor</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Sello(s)</th>
                      <th scope="col">Peso neto</th>
                      <th scope="col">Peso bruto</th>
                      <th scope="col">Bultos</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dato of listDatosBienes; let i = index">
                      <td> {{ i + 1}} </td>
                      <td>{{dato.eguia}}</td>
                      <td>{{dato.tembalaje}}</td>
                      <td>{{dato.tnaviera}}</td>
                      <td>{{dato.tmarcas}}</td>
                      <td>{{dato.ttipocontenedor}}</td>
                      <td>{{dato.tsellos}}</td>
                      <td>{{dato.epesoneto}}</td>
                      <td>{{dato.epesobruto}}</td>
                      <td>{{dato.ebultos}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xl-12">
                <h6 class="mt-3 mb-2 text-primary">+ Comentarios</h6>
              </div>
              <div class="col-xl-12">
                <div class='form-group'>
                  {{lblobservaciones}}
                </div>
              </div>
            </div>
            <div class="row">
            </div>
            <!--QR-->
          </div><!-- card-body -->
        </div><!-- card -->
      </div><!-- content-body -->
    </mat-card>
  </div>
</div>