<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>&nbsp;
    </button>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>person</mat-icon>&nbsp;
      <span fxShow fxHide.xs>
        {{lblUsuario}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]=""  (click)="e_cerrarSesion()" >
        <mat-icon>exit_to_app</mat-icon>&nbsp;
        <span>Salir</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>
        <h3 mat-subheader>Operaciones</h3>

        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            dashboard
          </mat-icon>&nbsp;
          <p mat-line> Inicio </p>
        </a>

        <a mat-list-item [routerLink]="" (click)="e_operaciones('customer')" routerLinkActive="active"  *ngIf="opCustumer">
          <mat-icon mat-list-icon>
            business
          </mat-icon>&nbsp;
          <p mat-line> Operaciones </p>
        </a>

        <a mat-list-item [routerLink]="" (click)="e_operaciones('intranet')" routerLinkActive="active"  *ngIf="OpcionIntranet" >
          <mat-icon mat-list-icon>
            business
          </mat-icon>&nbsp;
          <p mat-line> Intranet </p>
        </a>

        <!--<a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
            <mat-icon mat-list-icon>
              people
            </mat-icon>&nbsp;
            <p mat-line> Operaciones </p>
          </a>-->

        <!--
  <a mat-list-item [routerLink]="['/account/profile']">
          <mat-icon mat-list-icon>person</mat-icon>&nbsp;
          <p mat-line> Cuenta </p>
        </a>
          -->


        <!--<a mat-list-item [routerLink]="['/auth/login']">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>&nbsp;
          <p mat-line> Salir </p>
        </a>-->



      </mat-nav-list>

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <!--<mat-progress-bar color="accent" mode="indeterminate">
        </mat-progress-bar>-->
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>

