<mat-card>
    <mat-card-header>
        <mat-card-title>
            Solicitud(es) de servicios de salida.
        </mat-card-title>
        <mat-card-subtitle>
            -----------------
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>
            <div class="btn-toolbar" role="group">
                <div class="btn-group mr-5" role="group">

                    <button mat-raised-button color="primary" routerLink={{directorio}}
                        title="Menu"><mat-icon>list</mat-icon>&nbsp;Menu</button>

                    <!--
 <a type="button" routerLink={{directorio}} class="btn btn-xs btn-primary"><i
                            class="fas fa-home  mg-r-5 fa-1x"></i>Inicio</a>
                    -->

                </div>
            </div>
        </mat-card-actions>
        <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>

            <div class="row">
                <span> + Opciones de busqueda </span>
            </div>
        </div>
        <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>

            <div class="row">
                <mat-radio-group (change)="e_opcion($event)" aria-label="Select an option">
                    <mat-radio-button value="PENDIENTE">PENDIENTE(S)</mat-radio-button>
                    <mat-radio-button value="AUTORIZADA">AUTORIZADA(S)</mat-radio-button>
                    <mat-radio-button value="RECHAZADA">RECHAZADA(S)</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
            <div class="table-responsive">
                <mat-table [dataSource]="solicitudesServicos" class="mat-elevation-z8" width="100%">
                    <!--Acciones -->
                    <ng-container matColumnDef="acciones">
                        <mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <div style="text-align:center;">
                                <button mat-button color="primary" (click)="e_detalle(element.etransaccion)"><mat-icon>
                                        more_horiz
                                    </mat-icon> &nbsp;</button>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <!-- Transacción -->
                    <ng-container matColumnDef="etransaccion">
                        <mat-header-cell *matHeaderCellDef> NO.TRANSACCIÓN </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.etransaccion}} </mat-cell>
                    </ng-container>

                    <!-- Correo -->
                    <ng-container matColumnDef="tcorreo">
                        <mat-header-cell *matHeaderCellDef> CORREO </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.tcorreo}} </mat-cell>
                    </ng-container>

                    <!-- Telefono -->
                    <ng-container matColumnDef="ttelefono">
                        <mat-header-cell *matHeaderCellDef> TELEFONO </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ttelefono}} </mat-cell>
                    </ng-container>

                    <!-- Referencia -->
                    <ng-container matColumnDef="treferencia">
                        <mat-header-cell *matHeaderCellDef> REFERENCIA </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.treferencia}} </mat-cell>
                    </ng-container>

                    <!-- Fecha de registro -->
                    <ng-container matColumnDef="fhfecharegistro">
                        <mat-header-cell *matHeaderCellDef> F.REGISTRO </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fhfecharegistro}} </mat-cell>
                    </ng-container>

                    <!-- Fecha de servicio -->
                    <ng-container matColumnDef="fhfechaservicio">
                        <mat-header-cell *matHeaderCellDef> F.SERVICIO </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fhfechaservicio}} </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="columnasServicios, sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnasServicios;"></mat-row>
                </mat-table>
                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>

            </div>
            <!--
        <div class="table-responsive">
            <div class="outer-div">
                <div class="grid-wrapper" id="myGrid">
                    <ag-grid-angular #agGrid style="width: 100%; height: 700px;" id="myGrid"
                        class="ag-theme-alpine" [pagination]="true"
                        [paginationPageSize]="paginationPageSize" [columnDefs]="columnDefs"
                        [defaultColDef]="defaultColDef" [rowData]="rowData"
                        [enableCellTextSelection]="true">

                    </ag-grid-angular>
                </div>
            </div>
        </div>
    -->
        </div>
    </mat-card-content>
</mat-card>