<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <div class="content-header">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item"><a routerLink="{{directorio}}">Intranet</a></li>
                            <li class="breadcrumb-item"><a routerLink="{{directorio}}">Operaciones</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Salidas</li>

                        </ol>
                    </nav>
                </div>
            </div>
            <div class="content-body">
                <div class="card card-invoice">
                    <div class="card-header">
                        <h6 class="card-title mg-b-0">Solicitud de salida(s)</h6>
                    </div>
                    <div class="card-body pd-xl-25">
                        <div class='component mg-b-10'>
                            <div class="btn-toolbar" role="group">
                                <div class="btn-group mr-5" role="group">
                                    <a type="button" routerLink={{directorio}} class="btn btn-xs btn-primary"><i
                                            class="fas fa-home  mg-r-5 fa-1x"></i>Inicio</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12'>
                            <div class="row">
                                <span> + Opciones de busqueda </span>
                            </div>
                        </div>
                        <div lass='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2'>
                            <div class="row">
                                <mat-radio-group (change)="e_opcion($event)" aria-label="Select an option">
                                    <mat-radio-button value="PENDIENTE">PENDIENTE(S)</mat-radio-button>
                                    <mat-radio-button value="AUTORIZADA">AUTORIZADA(S)</mat-radio-button>
                                    <mat-radio-button value="RECHAZADA">RECHAZADA(S)</mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <!--
                        <div class="mg-b-50">
                            <div class='d-flex'>
                                <div class="custom-control custom-radio mg-l-15">
                                    <input type="radio" id="rdpendiente" name="tbusqueda" value="PENDIENTE"
                                        class="custom-control-input" (click)="e_opcion($event)">
                                    <label class="custom-control-label" for="rdpendiente">PENDIENTE(S)</label>
                                </div>

                                <div class="custom-control custom-radio mg-l-15">
                                    <input type="radio" id="rdguia" name="tbusqueda" value="AUTORIZADA"
                                        class="custom-control-input" (click)="e_opcion($event)">
                                    <label class="custom-control-label" for="rdguia">AUTORIZADA(S)</label>
                                </div>

                                <div class="custom-control custom-radio mg-l-15">
                                    <input type="radio" id="rdrechazada" name="tbusqueda" value="RECHAZADA"
                                        class="custom-control-input" (click)="e_opcion($event)">
                                    <label class="custom-control-label" for="rdrechazada">RECHAZADA(S)</label>
                                </div>
                            </div>
                        </div>
                    -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-2">
                            <div class="table-responsive">
                                <table mat-table [dataSource]="solicitudesServicos" class="mat-elevation-z8"
                                    width="100%">
                                    <!--Acciones -->
                                    <ng-container matColumnDef="acciones">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES
                                        </th>
                                        <td mat-cell *matCellDef="let element">
                                            <div style="text-align:center;">
                                                <button mat-button color="primary"
                                                    (click)="e_detalle(element.etransaccion)"><mat-icon> more_horiz
                                                    </mat-icon> &nbsp;</button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <!-- Transacción -->
                                    <ng-container matColumnDef="etransaccion">
                                        <th mat-header-cell *matHeaderCellDef> NO.TRANSACCIÓN </th>
                                        <td mat-cell *matCellDef="let element"> {{element.etransaccion}} </td>
                                    </ng-container>

                                    <!-- Correo -->
                                    <ng-container matColumnDef="tcorreo">
                                        <th mat-header-cell *matHeaderCellDef> CORREO </th>
                                        <td mat-cell *matCellDef="let element"> {{element.tcorreo}} </td>
                                    </ng-container>

                                    <!-- Telefono -->
                                    <ng-container matColumnDef="ttelefono">
                                        <th mat-header-cell *matHeaderCellDef> TELEFONO </th>
                                        <td mat-cell *matCellDef="let element"> {{element.ttelefono}} </td>
                                    </ng-container>

                                    <!-- Referencia -->
                                    <ng-container matColumnDef="treferencia">
                                        <th mat-header-cell *matHeaderCellDef> REFERENCIA </th>
                                        <td mat-cell *matCellDef="let element"> {{element.treferencia}} </td>
                                    </ng-container>

                                    <!-- Fecha de registro -->
                                    <ng-container matColumnDef="fhfecharegistro">
                                        <th mat-header-cell *matHeaderCellDef> F.REGISTRO </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fhfecharegistro}} </td>
                                    </ng-container>

                                    <!-- Fecha de servicio -->
                                    <ng-container matColumnDef="fhfechaservicio">
                                        <th mat-header-cell *matHeaderCellDef> F.SERVICIO </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fhfechaservicio}} </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="columnasServicios, sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: columnasServicios;"></tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"
                                    showFirstLastButtons></mat-paginator>

                            </div>
                            <!--
                        <div class="table-responsive">
                            <div class="outer-div">
                                <div class="grid-wrapper" id="myGrid">
                                    <ag-grid-angular #agGrid style="width: 100%; height: 700px;" id="myGrid"
                                        class="ag-theme-alpine" [pagination]="true"
                                        [paginationPageSize]="paginationPageSize" [columnDefs]="columnDefs"
                                        [defaultColDef]="defaultColDef" [rowData]="rowData"
                                        [enableCellTextSelection]="true">

                                    </ag-grid-angular>
                                </div>
                            </div>
                        </div>
                    -->
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>