<mat-card>
    <mat-card-header>
        <mat-card-title>
            Usuarios
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <form #solicitudForm="ngForm" (ngSubmit)="e_guardar(solicitudForm)">
            <!--Botones-->
            <mat-card-actions class="button-group">
                <button mat-raised-button color="primary" (click)="e_menu()"><mat-icon>
                        menu</mat-icon>Menu</button>
                <button mat-raised-button color="primary"
                    title="Consultar"><mat-icon>view_list</mat-icon>Consultar</button>
                <button mat-raised-button color="primary"><mat-icon>save</mat-icon>Guardar</button>
            </mat-card-actions>
            <div class="mt-2 mb-5">
                <mat-divider> </mat-divider>
            </div>
            <!--Usuario-->
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="full-width">
                        <mat-label>Nombre completo</mat-label>
                        <input matInput placeholder="" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                            name="tnombre" ngModel #tnombre="ngModel" required>
                        <mat-error *ngIf="formUsuario.controls['tnombre'].errors?.required">* Nombre es
                            requerido</mat-error>
                    </mat-form-field>
                    <!--<div class="form-group">
                        <label class="form-label">Nombre completo</label>
                        <input class="form-control form-control-sm" matInput
                            oninput="this.value = this.value.toUpperCase()" id="tnombre"
                            formControlName="tnombre"
                            [ngClass]="{'is-invalid': submitGuardar && frmUsuario.tnombre.errors}"
                            name="usuario[tnombre]">
                        <div *ngIf="submitGuardar && frmUsuario.tnombre.errors"
                            class="invalid-feedback">
                            <div *ngIf="frmUsuario.tnombre.errors.required">* Nombre es requerido</div>
                        </div>
                    </div>
                -->

                </div>
                <div class="col-md-2">
                    <mat-form-field class="full-width">
                        <mat-label>Direccion</mat-label>
                        <input matInput placeholder="" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                            name="tdireccion" ngModel #tdireccion="ngModel" required>
                        <mat-error *ngIf="formUsuario.controls['tdireccion'].errors?.required">* Direccion es
                            requerido</mat-error>
                    </mat-form-field>

                    <!--<div class="form-group">
                        <label class="form-label">Direccion</label>
                        <input class="form-control form-control-sm" matInput
                            oninput="this.value = this.value.toUpperCase()" id="tdireccion"
                            formControlName="tdireccion"
                            [ngClass]="{'is-invalid': submitGuardar && frmUsuario.tdireccion.errors}"
                            name="usuario[tdireccion]">
                        <div *ngIf="submitGuardar && frmUsuario.tdireccion.errors"
                            class="invalid-feedback">
                            <div *ngIf="frmUsuario.tdireccion.errors.required">* Direccion es requerido
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="col-md-2">
                    <mat-form-field class="full-width">
                        <mat-label>Teléfono</mat-label>
                        <input matInput placeholder="" maxlength="18" name="ttelefono" ngModel #ttelefono="ngModel"
                            required>
                        <mat-error *ngIf="formUsuario.controls['ttelefono'].errors?.required">* Teléfono es
                            requerido</mat-error>
                    </mat-form-field>
                    <!--<div class="form-group">
                        <label class="form-label">Teléfono</label>
                        <input class="form-control form-control-sm" matInput
                            oninput="this.value = this.value.toUpperCase()" id="ttelefono"
                            formControlName="ttelefono"
                            [ngClass]="{'is-invalid': submitGuardar && frmUsuario.ttelefono.errors}"
                            name="usuario[ttelefono]">
                        <div *ngIf="submitGuardar && frmUsuario.ttelefono.errors"
                            class="invalid-feedback">
                            <div *ngIf="frmUsuario.ttelefono.errors.required">* Teléfono es requerido
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="col-md-2">
                    <mat-form-field class="full-width">
                        <mat-label>Correo</mat-label>
                        <input matInput placeholder="" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                            name="tcorreo" ngModel #tcorreo="ngModel" required>
                        <mat-error *ngIf="formUsuario.controls['tcorreo'].errors?.required">* Correo es
                            requerido</mat-error>
                    </mat-form-field>
                    <!--<div class="form-group">
                        <label class="form-label">Correo</label>
                        <input class="form-control form-control-sm" matInput
                            oninput="this.value = this.value.toUpperCase()" id="tcorreo"
                            formControlName="tcorreo"
                            [ngClass]="{'is-invalid': submitGuardar && frmUsuario.tcorreo.errors}"
                            name="usuario[tcorreo]">
                        <div *ngIf="submitGuardar && frmUsuario.tcorreo.errors"
                            class="invalid-feedback">
                            <div *ngIf="frmUsuario.tcorreo.errors.required">* Correo es requerido</div>
                        </div>
                    </div>-->
                </div>
                <div class="col-md-2">
                    <mat-form-field class="full-width">
                        <mat-label>Estado</mat-label>
                        <mat-select name="testado" ngModel #testado="ngModel" required>
                            <mat-option>SELECCIONAR</mat-option>
                            <mat-option value="VIGENTE">VIGENTE</mat-option>
                            <mat-option value="NO VIGENTE">NO VIGENTE</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formUsuario.controls['testado'].errors?.required">* Estado es
                            requerido</mat-error>
                    </mat-form-field>

                </div>

            </div>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="full-width">
                        <mat-label>Usuario</mat-label>
                        <input matInput placeholder="" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                            name="tusuario" ngModel #tusuario="ngModel" required>
                        <mat-error *ngIf="formUsuario.controls['tusuario'].errors?.required">* Usuario es
                            requerido</mat-error>
                    </mat-form-field>
                    <!--<div class="form-group">
                        <label class="form-label">Usuario</label>
                        <input class="form-control form-control-sm" matInput
                            oninput="this.value = this.value.toUpperCase()" id="tusuario"
                            formControlName="tusuario"
                            [ngClass]="{'is-invalid': submitGuardar && frmUsuario.tusuario.errors}"
                            name="usuario[tusuario]">
                        <div *ngIf="submitGuardar && frmUsuario.tusuario.errors"
                            class="invalid-feedback">
                            <div *ngIf="frmUsuario.tusuario.errors.required">* Correo es requerido</div>
                        </div>
                    </div>
                -->

                </div>
                <div class="col-md-2">
                    <mat-form-field class="full-width">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="" oninput="this.value = this.value.toUpperCase()" maxlength="50"
                            name="tpassword" ngModel #tpassword="ngModel" required>
                        <mat-error *ngIf="formUsuario.controls['tpassword'].errors?.required">* Password es
                            requerido</mat-error>
                    </mat-form-field>
                    <!--<div class="form-group">
                        <label class="form-label">Password</label>
                        <input class="form-control form-control-sm" matInput
                            oninput="this.value = this.value.toUpperCase()" id="tpassword"
                            formControlName="tpassword"
                            [ngClass]="{'is-invalid': submitGuardar && frmUsuario.tpassword.errors}"
                            name="usuario[tpassword]">
                        <div *ngIf="submitGuardar && frmUsuario.tpassword.errors"
                            class="invalid-feedback">
                            <div *ngIf="frmUsuario.tpassword.errors.required">* Password es requerido
                            </div>
                        </div>
                    </div>-->

                </div>
                <div class="col-md-2" style="display: none;">

                    <mat-form-field class="full-width">
                        <mat-label>ecodusuario</mat-label>
                        <input matInput placeholder="" name="ecodusuario" ngModel #ecodusuario="ngModel">
                    </mat-form-field>
                    <!-- <div class="form-group">
                        <label class="form-label">ecodusuario</label>
                        <input class="form-control form-control-sm" matInput
                            oninput="this.value = this.value.toUpperCase()" id="ecodusuario"
                            formControlName="ecodusuario"
                            [ngClass]="{'is-invalid': submitGuardar && frmUsuario.ecodusuario.errors}"
                            name="usuario[ecodusuario]">
                        <div *ngIf="submitGuardar && frmUsuario.ecodusuario.errors"
                            class="invalid-feedback">
                            <div *ngIf="frmUsuario.ecodusuario.errors.required">* ecodusuario es
                                requerido</div>
                        </div>
                    </div>
                -->

                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-xl-12 mt-4 mb-4">
                <div class="table-responsive">
                    <table class="table table-sm mg-b-0">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Accciones</th>
                            <th scope="col">Id</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Password</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let dato of usuariosList; let i = index">
                                <td> {{ i + 1}} </td>
                                <td><button type="button" (click)="editarUsuario(dato)" mat-raised-button
                                        color="primary"><mat-icon>edit</mat-icon>Editar</button>
                                <td> {{ dato.ecodusuario }} </td>
                                <td> {{ dato.tnombre }} </td>
                                <td> {{ dato.tdireccion }} </td>
                                <td> {{ dato.ttelefono }} </td>
                                <td> {{ dato.tcorreo }} </td>
                                <td> {{ dato.tusuario }} </td>
                                <td> {{ dato.tpassword }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--<div class="col-sm-12">
                <div class="table-responsive">
                    <div class="outer-div">
                        <div class="grid-wrapper" id="gridUusuario">
                            <ag-grid-angular #agGrid style="width: 100%; height: 700px;"
                                id="gridUusuario" class="ag-theme-alpine" [pagination]="true"
                                [gridOptions]="gridOptions" [paginationPageSize]="paginationPageSize"
                                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef"
                                [rowData]="rowData">
                            </ag-grid-angular>
                        </div>
                    </div>
                </div>
            </div>
        -->
        </div>

    </mat-card-content>
</mat-card>