<mat-card>
    <mat-card-header>
        <mat-card-title>
            Responsabilidades
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary"
                (click)="e_regresar()"><mat-icon>arrow_back_ios</mat-icon>&nbsp;Regresar</button>
            <button mat-raised-button color="primary"
                (click)="e_guardar()"><mat-icon>save</mat-icon>&nbsp;Guardar</button>
        </mat-card-actions>
        <hr>
        <div class="row">
            <div class="col-sm">
                <div class="pd-y-10 pd-x-20 ">
                    <div id="jstree">
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>