<div class="contenedor">
    <div fxFlex="95%">
        <mat-card>
            <div class="content-header">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item"><a routerLink="{{directorio}}">Intranet</a></li>
                            <li class="breadcrumb-item"><a routerLink="{{directorio}}">Operaciones</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Historial</li>
                        </ol>
                    </nav>

                </div>
            </div>
            <div class="content-body">
                <div class="card-body">
                    <div class='component mg-b-10'>
                        <div class="btn-toolbar" role="group">
                            <div class="btn-group mr-5" role="group">
                                <a type="button" routerLink={{directorio}} class="btn btn-xs btn-primary"><i
                                        class="fas fa-home  mg-r-5 fa-1x"></i>Inicio</a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form [formGroup]="FormBusqueda">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12 mt-2">
                                                <input type="text" oninput="this.value = this.value.toUpperCase()"
                                                    class="form-control form-control-sm"
                                                    [placeholder]="PlaceholderBusqueda" id="tvalor"
                                                    name="busqueda[tvalor]" formControlName="tvalor"
                                                    [ngClass]="{ 'is-invalid': submitBusqueda && fbusqueda.tvalor.errors }">
                                            </div>

                                        </div>
                                        <div class='row'>
                                            <div class="col-md-12 col-sm-12 col-xs-12 mt-2">
                                                <div class="button-row">
                                                    <button mat-raised-button color="primary" style="float:right;"
                                                        (click)="e_buscar(FormBusqueda.value)"><mat-icon>search</mat-icon>&nbsp;Busqueda</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12 mt-2">
                                                <div *ngIf="submitBusqueda && fbusqueda.tvalor.errors"
                                                    class="invalid-feedback">
                                                    <div *ngIf="fbusqueda.tvalor.errors.required">Ingresa tu número de
                                                        guía
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class='col-md-12 col-sm-12 col-xs-12 mt-2'>
                                                <span>{{informativo}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='row mg-t-15'>
                                    <a [routerLink]="[]"
                                        (click)="e_opcionesBusqueda()"><span>{{lblopcionesBusqueda}}</span></a>
                                </div>
                                <div class='row mg-t-15' *ngIf="divOpcionesBusqueda">

                                    <div class="custom-control custom-radio mg-l-15">
                                        <input type="radio" id="tmarca" formControlName="tbusqueda" name="tbusqueda"
                                            value="MARCA" class="custom-control-input"
                                            [ngClass]="{ 'is-invalid': submitBusqueda && fbusqueda.tbusqueda.errors }"
                                            (click)="e_radioOpciones($event)" [(ngModel)]="selectedBusqueda">
                                        <label class="custom-control-label" for="tmarca">Marca</label>
                                    </div>

                                    <div class="custom-control custom-radio mg-l-15">
                                        <input type="radio" id="eguia" formControlName="tbusqueda" name="tbusqueda"
                                            value="GUIA" class="custom-control-input"
                                            [ngClass]="{ 'is-invalid': submitBusqueda && fbusqueda.tbusqueda.errors }"
                                            (click)="e_radioOpciones($event)" [(ngModel)]="selectedBusqueda">
                                        <label class="custom-control-label" for="eguia">Número guia</label>
                                    </div>

                                    <div class="custom-control custom-radio mg-l-15">
                                        <input type="radio" id="efolioweb" formControlName="tbusqueda" name="tbusqueda"
                                            value="FOLIOWEB" class="custom-control-input"
                                            [ngClass]="{ 'is-invalid': submitBusqueda && fbusqueda.tbusqueda.errors }"
                                            (click)="e_radioOpciones($event)" [(ngModel)]="selectedBusqueda">
                                        <label class="custom-control-label" for="efolioweb">Folio Web</label>
                                    </div>


                                </div>
                                <div *ngIf="submitBusqueda && fbusqueda.tbusqueda.errors"
                                    class="invalid-feedback d-flex">
                                    <div *ngIf="fbusqueda.tbusqueda.errors.required">Seleccionar el tipo de busqueda
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="component mg-t-50">
                                <div class="table-responsive">

                                    <table mat-table [dataSource]="datosHistorico" class="mat-elevation-z8"
                                        width="100%">

                                        <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"></th>
                                            <td mat-cell *matCellDef="let element">
                                                <div style="text-align:center;">
                                                    <button mat-button color="primary" (click)="e_verdetalle(element)">
                                                        <mat-icon>more_horiz</mat-icon>&nbsp;</button>
                                                </div>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="eguia">
                                            <th mat-header-cell *matHeaderCellDef> NO.GUIA </th>
                                            <td mat-cell *matCellDef="let element"> {{element.eguia}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ttipocarga">
                                            <th mat-header-cell *matHeaderCellDef> T.CARGA </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ttipocarga}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ttramite">
                                            <th mat-header-cell *matHeaderCellDef> TRAMITE </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ttramite}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="tnaviera">
                                            <th mat-header-cell *matHeaderCellDef> NAVIERA </th>
                                            <td mat-cell *matCellDef="let element"> {{element.tnaviera}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ttipocontendor">
                                            <th mat-header-cell *matHeaderCellDef> TIP.CONTENEDOR </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ttipocontendor}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="tembalaje">
                                            <th mat-header-cell *matHeaderCellDef> EMBALAJE </th>
                                            <td mat-cell *matCellDef="let element"> {{element.tembalaje}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="tmarcas">
                                            <th mat-header-cell *matHeaderCellDef> MARCAS </th>
                                            <td mat-cell *matCellDef="let element"> {{element.tmarcas}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="epesorecibido">
                                            <th mat-header-cell *matHeaderCellDef> PESO RECIBIDO </th>
                                            <td mat-cell *matCellDef="let element"> {{element.epesorecibido}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="ecantidadrecibido">
                                            <th mat-header-cell *matHeaderCellDef> CANTIDAD RECIBIDO </th>
                                            <td mat-cell *matCellDef="let element"> {{element.ecantidadrecibido}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="fhfechaentrada">
                                            <th mat-header-cell *matHeaderCellDef> FECHA ENTRADA </th>
                                            <td mat-cell *matCellDef="let element"> {{element.fhfechaentrada}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="fhfechasalida">
                                            <th mat-header-cell *matHeaderCellDef> FECHA SALIDA </th>
                                            <td mat-cell *matCellDef="let element"> {{element.fhfechasalida}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="tmovimiento">
                                            <th mat-header-cell *matHeaderCellDef> MOVIMIENTO </th>
                                            <td mat-cell *matCellDef="let element"> {{element.tmovimiento}} </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="columnasHistorico, sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: columnasHistorico;"></tr>

                                    </table>

                                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"
                                        showFirstLastButtons></mat-paginator>

                                    <!--
                                    <table class="table table-sm  table table-hover mg-b-0">
                                        <tr>
                                            <th scope="col"> Ver </th>
                                            <th scope="col"> Idguia </th>
                                            <th scope="col"> Tipocarga </th>
                                            <th scope="col"> Trámite </th>
                                            <th scope="col"> Naviera </th>
                                            <th scope="col"> Tipo contendor </th>
                                            <th scope="col"> Embalaje </th>
                                            <th scope="col"> Marcas </th>
                                            <th scope="col"> Peso recibido </th>
                                            <th scope="col"> Cantidad recibido </th>
                                            <th scope="col"> Fecha entrada </th>
                                            <th scope="col"> Fecha salida </th>
                                            <th scope="col"> Movimiento </th>
                                        </tr>

                                        <tbody>
                                            <tr *ngFor="let dato of listbienes; let i = index">
                                                <td> <button type="button" mat-raised-button color="primary"
                                                        (click)="e_verdetalle(dato)">[+]</button></td>
                                                <td> {{dato.eguia }} </td>
                                                <td> {{dato.ttipocarga }} </td>
                                                <td> {{dato.ttramite }} </td>
                                                <td> {{dato.tnaviera }} </td>
                                                <td> {{dato.ttipocontendor }} </td>
                                                <td> {{dato.tembalaje }} </td>
                                                <td> {{dato.tmarcas }} </td>
                                                <td> {{dato.epesorecibido }} </td>
                                                <td> {{dato.ecantidadrecibido }} </td>
                                                <td> {{dato.fhfechaentrada }} </td>
                                                <td> {{dato.fhfechasalida }} </td>
                                                <td> {{dato.tmovimiento }} </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 mt-4">
                            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                                <mat-tab label="Tracking">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 mt-4">
                                            <table class="table table-sm  table table-hover mg-b-0">
                                                <tr>
                                                    <th scope="col"> # </th>
                                                    <th scope="col"> Tipocarga </th>
                                                    <th scope="col"> Trámite </th>
                                                    <th scope="col"> Naviera </th>
                                                    <th scope="col"> Tipo contendor </th>
                                                    <th scope="col"> Embalaje </th>
                                                    <th scope="col"> Marcas </th>
                                                    <th scope="col"> Peso manifestado </th>
                                                    <th scope="col"> Peso recibido </th>
                                                    <th scope="col"> Peso liberado </th>
                                                    <th scope="col"> Peso entregado </th>
                                                    <th scope="col"> Cantidad manifestado </th>
                                                    <th scope="col"> Cantidad recibido </th>
                                                    <th scope="col"> Cantidad liberado </th>
                                                    <th scope="col"> Cantidad entregado </th>
                                                    <th scope="col"> Fecha entrada </th>
                                                    <th scope="col"> Fecha salida </th>
                                                    <th scope="col"> Movimiento </th>
                                                    <th scope="col"> Posición </th>
                                                    <th scope="col"> Zona </th>
                                                    <th scope="col"> Usuario </th>
                                                    <th scope="col"> Fecha registro </th>
                                                </tr>
                                                <tbody>
                                                    <tr *ngFor="let dato of movimientos; let i = index">
                                                        <td> {{ i + 1}} </td>
                                                        <td> {{ dato.ttipocarga }} </td>
                                                        <td> {{ dato.ttramite }} </td>
                                                        <td> {{ dato.tnombrecorto }} </td>
                                                        <td> {{ dato.ttipocontenedor }} </td>
                                                        <td> {{ dato.embalaje }} </td>
                                                        <td> {{ dato.tmarcas }} </td>
                                                        <td> {{ dato.epesomanifestado }} </td>
                                                        <td> {{ dato.epesorecibido }} </td>
                                                        <td> {{ dato.epesoliberado }} </td>
                                                        <td> {{ dato.epesoentregado }} </td>
                                                        <td> {{ dato.ecantidadmanifestado }} </td>
                                                        <td> {{ dato.ecantidadrecibido }} </td>
                                                        <td> {{ dato.ecantidadliberado }} </td>
                                                        <td> {{ dato.ecantidadentregado }} </td>
                                                        <td> {{ dato.fhfechaentrada }} </td>
                                                        <td> {{ dato.fhfechasalida }} </td>
                                                        <td> {{ dato.tmovimiento }} </td>
                                                        <td> {{ dato.tposicion }} </td>
                                                        <td> {{ dato.tdescripcion }} </td>
                                                        <td> {{ dato.usuario }} </td>
                                                        <td> {{ dato.fhfecharegistro }} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Sellos">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 mt-4">
                                            <table class="table table-sm  table table-hover mg-b-0">
                                                <tr>
                                                    <th scope="col"> # </th>
                                                    <th scope="col"> Sello </th>
                                                    <th scope="col"> Tipo </th>
                                                </tr>
                                                <tbody>
                                                    <tr *ngFor="let dato of sellos; let i = index">
                                                        <td> {{ i + 1}} </td>
                                                        <td> {{dato.tsello }} </td>
                                                        <td> {{dato.ttiposello }} </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </mat-tab>
                                <mat-tab label="detalle">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12 mt-4">
                                            <table class="table table-sm  table table-hover mg-b-0">
                                                <tr>
                                                    <th scope="col"> # </th>
                                                    <th scope="col"> Marcas </th>
                                                    <th scope="col"> Descripcion </th>
                                                    <th scope="col"> Pesobruto </th>
                                                    <th scope="col"> Pesoneto </th>
                                                    <th scope="col"> Cantidad </th>
                                                    <th scope="col"> Volumen </th>
                                                    <th scope="col"> Posicion </th>
                                                </tr>
                                                <tbody>
                                                    <tr *ngFor="let dato of detallebienes; let i = index">
                                                        <td> {{ i + 1}} </td>
                                                        <td> {{ dato.tmarcas }} </td>
                                                        <td> {{ dato.tdescripcion }} </td>
                                                        <td> {{ dato.epesobruto }} </td>
                                                        <td> {{ dato.epesoneto }} </td>
                                                        <td> {{ dato.ecantidad }} </td>
                                                        <td> {{ dato.evolumen }} </td>
                                                        <td> {{ dato.tposicion }} </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>


                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>