<mat-card>
    <mat-card-header>
        <mat-card-title>
            Historial
        </mat-card-title>
        <mat-card-subtitle>
            Movimientos a la carga
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions class="button-group">
            <button mat-raised-button color="primary" (click)="e_menu()"><mat-icon>
                    menu</mat-icon>Menu</button>
        </mat-card-actions>
        <div class="mt-2 mb-2">
            <mat-divider> </mat-divider>
        </div>
        <div id="divBusqueda">
            <form [formGroup]="FormBusqueda">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <mat-form-field class="full-width">
                                <mat-label>Busqueda</mat-label>
                                <input matInput placeholder="" oninput="this.value = this.value.toUpperCase()"
                                    id="tvalor" name="tvalor" formControlName="tvalor"
                                    [placeholder]="PlaceholderBusqueda"
                                    [ngClass]="{ 'is-invalid': submitBusqueda && fbusqueda.tvalor.errors }" required>
                                <mat-error *ngIf="FormBusqueda.controls['tvalor'].errors?.required">Valor de busqueda
                                    requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class='row'>
                            <div class="col-md-12 col-sm-12 col-xs-12 mt-2">
                                <div class="button-row">
                                    <button mat-raised-button color="primary" style="float:right;"
                                        (click)="e_buscar(FormBusqueda.value)"><mat-icon>search</mat-icon>Busqueda</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-md-12 col-sm-12 col-xs-12 mt-2'>
                                <span>{{informativo}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='row mg-t-15'>
                    <a [routerLink]="[]" (click)="e_opcionesBusqueda()"><span>{{lblopcionesBusqueda}}</span></a>
                </div>
                <mat-card-actions class="button-group" *ngIf="divOpcionesBusqueda">
                    <mat-radio-group (change)="e_radioOpciones($event)" aria-label="Select an option" name="tbusqueda"
                        formControlName="tbusqueda">
                        <mat-radio-button id="tmarca" value="MARCA">Marca</mat-radio-button>
                        <mat-radio-button id="eguia" value="GUIA">Número
                            guia</mat-radio-button>
                        <mat-radio-button id="efolioweb" value="FOLIOWEB">Folio
                            Web</mat-radio-button>

                    </mat-radio-group>
                </mat-card-actions>
                <div *ngIf="submitBusqueda && fbusqueda.tbusqueda.errors" class="invalid-feedback d-flex">
                    <div *ngIf="fbusqueda.tbusqueda.errors.required">Seleccionar el tipo de busqueda
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-2 mb-2">
            <mat-divider> </mat-divider>
        </div>
        <div id="divHistorico">
            <table mat-table [dataSource]="datosHistorico" class="mat-elevation-z8" width="100%">

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"></th>
                    <td mat-cell *matCellDef="let element">
                        <div style="text-align:center;">
                            <button mat-icon-button color="primary" (click)="e_verdetalle(element)">
                                <mat-icon>more_horiz</mat-icon></button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="eguia">
                    <th mat-header-cell *matHeaderCellDef> NO.GUIA </th>
                    <td mat-cell *matCellDef="let element"> {{element.eguia}} </td>
                </ng-container>
                <ng-container matColumnDef="ttipocarga">
                    <th mat-header-cell *matHeaderCellDef> T.CARGA </th>
                    <td mat-cell *matCellDef="let element"> {{element.ttipocarga}} </td>
                </ng-container>
                <ng-container matColumnDef="ttramite">
                    <th mat-header-cell *matHeaderCellDef> TRAMITE </th>
                    <td mat-cell *matCellDef="let element"> {{element.ttramite}} </td>
                </ng-container>
                <ng-container matColumnDef="tnaviera">
                    <th mat-header-cell *matHeaderCellDef> NAVIERA </th>
                    <td mat-cell *matCellDef="let element"> {{element.tnaviera}} </td>
                </ng-container>
                <ng-container matColumnDef="ttipocontendor">
                    <th mat-header-cell *matHeaderCellDef> TIP.CONTENEDOR </th>
                    <td mat-cell *matCellDef="let element"> {{element.ttipocontendor}} </td>
                </ng-container>
                <ng-container matColumnDef="tembalaje">
                    <th mat-header-cell *matHeaderCellDef> EMBALAJE </th>
                    <td mat-cell *matCellDef="let element"> {{element.tembalaje}} </td>
                </ng-container>
                <ng-container matColumnDef="tmarcas">
                    <th mat-header-cell *matHeaderCellDef> MARCAS </th>
                    <td mat-cell *matCellDef="let element"> {{element.tmarcas}} </td>
                </ng-container>
                <ng-container matColumnDef="epesorecibido">
                    <th mat-header-cell *matHeaderCellDef> PESO RECIBIDO </th>
                    <td mat-cell *matCellDef="let element"> {{element.epesorecibido}} </td>
                </ng-container>
                <ng-container matColumnDef="ecantidadrecibido">
                    <th mat-header-cell *matHeaderCellDef> CANTIDAD RECIBIDO </th>
                    <td mat-cell *matCellDef="let element"> {{element.ecantidadrecibido}} </td>
                </ng-container>
                <ng-container matColumnDef="fhfechaentrada">
                    <th mat-header-cell *matHeaderCellDef> FECHA ENTRADA </th>
                    <td mat-cell *matCellDef="let element"> {{element.fhfechaentrada}} </td>
                </ng-container>
                <ng-container matColumnDef="fhfechasalida">
                    <th mat-header-cell *matHeaderCellDef> FECHA SALIDA </th>
                    <td mat-cell *matCellDef="let element"> {{element.fhfechasalida}} </td>
                </ng-container>
                <ng-container matColumnDef="tmovimiento">
                    <th mat-header-cell *matHeaderCellDef> MOVIMIENTO </th>
                    <td mat-cell *matCellDef="let element"> {{element.tmovimiento}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnasHistorico, sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: columnasHistorico;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
        <div class="mt-2 mb-2">
            <mat-divider> </mat-divider>
        </div>
        <div id="divOpciones">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Tracking">
                    <table mat-table [dataSource]="datosTracking" class="mat-elevation-z8" width="100%">
                        <ng-container matColumnDef="ttipocarga">
                            <th mat-header-cell *matHeaderCellDef> Tipocarga </th>
                            <td mat-cell *matCellDef="let element"> {{element.ttipocarga}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ttramite">
                            <th mat-header-cell *matHeaderCellDef> Trámite </th>
                            <td mat-cell *matCellDef="let element"> {{element.ttramite}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tnombrecorto">
                            <th mat-header-cell *matHeaderCellDef> Naviera </th>
                            <td mat-cell *matCellDef="let element"> {{element.tnombrecorto}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ttipocontenedor">
                            <th mat-header-cell *matHeaderCellDef> Tipo contendor </th>
                            <td mat-cell *matCellDef="let element"> {{element.ttipocontenedor}} </td>
                        </ng-container>
                        <ng-container matColumnDef="embalaje">
                            <th mat-header-cell *matHeaderCellDef> Embalaje </th>
                            <td mat-cell *matCellDef="let element"> {{element.embalaje}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tmarcas">
                            <th mat-header-cell *matHeaderCellDef> Marcas </th>
                            <td mat-cell *matCellDef="let element"> {{element.tmarcas}} </td>
                        </ng-container>
                        <ng-container matColumnDef="epesomanifestado">
                            <th mat-header-cell *matHeaderCellDef> Peso manifestado </th>
                            <td mat-cell *matCellDef="let element"> {{element.epesomanifestado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="epesorecibido">
                            <th mat-header-cell *matHeaderCellDef> Peso recibido </th>
                            <td mat-cell *matCellDef="let element"> {{element.epesorecibido}} </td>
                        </ng-container>
                        <ng-container matColumnDef="epesoliberado">
                            <th mat-header-cell *matHeaderCellDef> Peso liberado </th>
                            <td mat-cell *matCellDef="let element"> {{element.epesoliberado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="epesoentregado">
                            <th mat-header-cell *matHeaderCellDef> Peso entregado </th>
                            <td mat-cell *matCellDef="let element"> {{element.epesoentregado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ecantidadmanifestado">
                            <th mat-header-cell *matHeaderCellDef> Cantidad manifestado </th>
                            <td mat-cell *matCellDef="let element"> {{element.ecantidadmanifestado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ecantidadrecibido">
                            <th mat-header-cell *matHeaderCellDef> Cantidad recibido </th>
                            <td mat-cell *matCellDef="let element"> {{element.ecantidadrecibido}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ecantidadliberado">
                            <th mat-header-cell *matHeaderCellDef> Cantidad liberado </th>
                            <td mat-cell *matCellDef="let element"> {{element.ecantidadliberado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ecantidadentregado">
                            <th mat-header-cell *matHeaderCellDef> Cantidad entregado </th>
                            <td mat-cell *matCellDef="let element"> {{element.ecantidadentregado}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fhfechaentrada">
                            <th mat-header-cell *matHeaderCellDef> Fecha entrada </th>
                            <td mat-cell *matCellDef="let element"> {{element.fhfechaentrada}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fhfechasalida">
                            <th mat-header-cell *matHeaderCellDef> Fecha salida </th>
                            <td mat-cell *matCellDef="let element"> {{element.fhfechasalida}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tmovimiento">
                            <th mat-header-cell *matHeaderCellDef> Movimiento </th>
                            <td mat-cell *matCellDef="let element"> {{element.tmovimiento}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tposicion">
                            <th mat-header-cell *matHeaderCellDef> Posición </th>
                            <td mat-cell *matCellDef="let element"> {{element.tposicion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tdescripcion">
                            <th mat-header-cell *matHeaderCellDef> Zona </th>
                            <td mat-cell *matCellDef="let element"> {{element.tdescripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="usuario">
                            <th mat-header-cell *matHeaderCellDef> Usuario </th>
                            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
                        </ng-container>
                        <ng-container matColumnDef="fhfecharegistro">
                            <th mat-header-cell *matHeaderCellDef> Fecha registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.fhfecharegistro}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnasTracking, sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnasTracking;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>


                    <!--
                    <div class="row">
                    
                        <div class="col-md-12 col-sm-12 col-xs-12 mt-4">
                            <table class="table table-sm  table table-hover mg-b-0">
                                <tr>
                                    <th scope="col"> # </th>
                                    <th scope="col"> Tipocarga </th>
                                    <th scope="col"> Trámite </th>
                                    <th scope="col"> Naviera </th>
                                    <th scope="col"> Tipo contendor </th>
                                    <th scope="col"> Embalaje </th>
                                    <th scope="col"> Marcas </th>
                                    <th scope="col"> Peso manifestado </th>
                                    <th scope="col"> Peso recibido </th>
                                    <th scope="col"> Peso liberado </th>
                                    <th scope="col"> Peso entregado </th>
                                    <th scope="col"> Cantidad manifestado </th>
                                    <th scope="col"> Cantidad recibido </th>
                                    <th scope="col"> Cantidad liberado </th>
                                    <th scope="col"> Cantidad entregado </th>
                                    <th scope="col"> Fecha entrada </th>
                                    <th scope="col"> Fecha salida </th>
                                    <th scope="col"> Movimiento </th>
                                    <th scope="col"> Posición </th>
                                    <th scope="col"> Zona </th>
                                    <th scope="col"> Usuario </th>
                                    <th scope="col"> Fecha registro </th>
                                </tr>
                                <tbody>
                                    <tr *ngFor="let dato of movimientos; let i = index">
                                        <td> {{ i + 1}} </td>
                                        <td> {{ dato.ttipocarga }} </td>
                                        <td> {{ dato.ttramite }} </td>
                                        <td> {{ dato.tnombrecorto }} </td>
                                        <td> {{ dato.ttipocontenedor }} </td>
                                        <td> {{ dato.embalaje }} </td>
                                        <td> {{ dato.tmarcas }} </td>
                                        <td> {{ dato.epesomanifestado }} </td>
                                        <td> {{ dato.epesorecibido }} </td>
                                        <td> {{ dato.epesoliberado }} </td>
                                        <td> {{ dato.epesoentregado }} </td>
                                        <td> {{ dato.ecantidadmanifestado }} </td>
                                        <td> {{ dato.ecantidadrecibido }} </td>
                                        <td> {{ dato.ecantidadliberado }} </td>
                                        <td> {{ dato.ecantidadentregado }} </td>
                                        <td> {{ dato.fhfechaentrada }} </td>
                                        <td> {{ dato.fhfechasalida }} </td>
                                        <td> {{ dato.tmovimiento }} </td>
                                        <td> {{ dato.tposicion }} </td>
                                        <td> {{ dato.tdescripcion }} </td>
                                        <td> {{ dato.usuario }} </td>
                                        <td> {{ dato.fhfecharegistro }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                   
                    </div> 
                    -->
                </mat-tab>
                <mat-tab label="Sellos">
                    <table mat-table [dataSource]="datosSellos" class="mat-elevation-z8" width="100%">
                        <ng-container matColumnDef="tsello">
                            <th mat-header-cell *matHeaderCellDef> Sello </th>
                            <td mat-cell *matCellDef="let element"> {{element.tsello}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ttiposello">
                            <th mat-header-cell *matHeaderCellDef> Tipo </th>
                            <td mat-cell *matCellDef="let element"> {{element.ttiposello}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnasSellos, sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnasSellos;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
                    <!--
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 mt-4">
                            <table class="table table-sm  table table-hover mg-b-0">
                                <tr>
                                    <th scope="col"> # </th>
                                    <th scope="col"> Sello </th>
                                    <th scope="col"> Tipo </th>
                                </tr>
                                <tbody>
                                    <tr *ngFor="let dato of sellos; let i = index">
                                        <td> {{ i + 1}} </td>
                                        <td> {{dato.tsello }} </td>
                                        <td> {{dato.ttiposello }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    -->
                </mat-tab>
                <mat-tab label="detalle">
                    <table mat-table [dataSource]="datosDetallesBiesn" class="mat-elevation-z8" width="100%">
                        <ng-container matColumnDef="tmarcas">
                            <th mat-header-cell *matHeaderCellDef> Marcas </th>
                            <td mat-cell *matCellDef="let element"> {{element.tmarcas}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tdescripcion">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element"> {{element.tdescripcion}} </td>
                        </ng-container>
                        <ng-container matColumnDef="epesobruto">
                            <th mat-header-cell *matHeaderCellDef> Peso bruto </th>
                            <td mat-cell *matCellDef="let element"> {{element.epesobruto}} </td>
                        </ng-container>
                        <ng-container matColumnDef="epesoneto">
                            <th mat-header-cell *matHeaderCellDef> Peso neto </th>
                            <td mat-cell *matCellDef="let element"> {{element.epesoneto}} </td>
                        </ng-container>
                        <ng-container matColumnDef="ecantidad">
                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                            <td mat-cell *matCellDef="let element"> {{element.ecantidad}} </td>
                        </ng-container>
                        <ng-container matColumnDef="evolumen">
                            <th mat-header-cell *matHeaderCellDef> Volumen </th>
                            <td mat-cell *matCellDef="let element"> {{element.evolumen}} </td>
                        </ng-container>
                        <ng-container matColumnDef="tposicion">
                            <th mat-header-cell *matHeaderCellDef> Posicion </th>
                            <td mat-cell *matCellDef="let element"> {{element.tposicion}} </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnasDetallesBiesn, sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnasDetallesBiesn;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
                    <!--
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 mt-4">
                                <table class="table table-sm  table table-hover mg-b-0">
                                    <tr>
                                        <th scope="col"> # </th>
                                        <th scope="col"> Marcas </th>
                                        <th scope="col"> Descripcion </th>
                                        <th scope="col"> Pesobruto </th>
                                        <th scope="col"> Pesoneto </th>
                                        <th scope="col"> Cantidad </th>
                                        <th scope="col"> Volumen </th>
                                        <th scope="col"> Posicion </th>
                                    </tr>
                                    <tbody>
                                        <tr *ngFor="let dato of detallebienes; let i = index">
                                            <td> {{ i + 1}} </td>
                                            <td> {{ dato.tmarcas }} </td>
                                            <td> {{ dato.tdescripcion }} </td>
                                            <td> {{ dato.epesobruto }} </td>
                                            <td> {{ dato.epesoneto }} </td>
                                            <td> {{ dato.ecantidad }} </td>
                                            <td> {{ dato.evolumen }} </td>
                                            <td> {{ dato.tposicion }} </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                     -->
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>