<mat-card>
    <mat-card-header>
        <mat-card-title>
            Perfiles
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
         <mat-card-actions class="button-group">
                <button mat-raised-button color="primary" (click)="e_inicio()"><mat-icon> home
                    </mat-icon> &nbsp;Inicio</button>
        </mat-card-actions>
        <hr>
        <div class="row">
            <div id="jstree">
            </div>
        </div>
    </mat-card-content>
</mat-card>