<div class="contenedor">
    <div fxFlex="95%">
        <mat-card>
            <div class="content-header">
                <div>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#/dashboard">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="#{{directorio}}">Intranet</a></li>
                            <li class="breadcrumb-item"><a href="#{{directorio}}">Operaciones</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Perfiles</li>

                        </ol>
                    </nav>
                    
                </div>
            </div>
            <div class="content-body">
                <div class="card card-invoice">
                    <div class="card-header">
                        <div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class='component mg-b-10'>
                                <div class="btn-toolbar" role="group">
                                    <div class="btn-group mr-5" role="group">
                                        <button mat-raised-button color="primary" (click)="e_inicio()"><mat-icon> home
                                            </mat-icon> &nbsp;Inicio</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="row row-xs">
                            <div class="col-sm">
                                <div class="pd-y-10 pd-x-20 ">
                                    <div id="jstree">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>