<mat-card>
    <mat-card-header>
        <mat-card-title>
            Perfiles
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card-actions>
            <div class="btn-toolbar" role="group">
                <div class="btn-group mr-5" role="group">
                    <button mat-raised-button color="primary" (click)="e_inicio()"><mat-icon> home
                        </mat-icon> &nbsp;Inicio</button>
                </div>
            </div>
        </mat-card-actions>
        <hr>
        <div class="row">
            <div class="col-sm">
                <div class="pd-y-10 pd-x-20 ">
                    <div id="jstree">
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>