<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/dashboard/inicio']">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Operaciones</li>
        </ol>
    </nav>
</div>

<div class="content-body">

    <div class="card card-invoice">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="row row-xs">
                <div class="row row-xs" id="divHtml">
                </div>
            </div>
        </div>
    </div>
</div>