<!--<div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a [routerLink]="['/dashboard/inicio']">Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Operaciones</li>
        </ol>
    </nav>
</div>

<div class="content-body">

    <div class="card card-invoice">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="row row-xs">
                <div class="row row-xs" id="divHtml">
                </div>
            </div>
        </div>
    </div>
</div>-->



<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <mat-card-content>
                <h2>Operaciones</h2>
                <div class="row" id="divHtml">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<style>
    /*-----------------MENU-----------------------*/
    .docs-toc-container {
        border-left: 4px solid #3f51b5;
        font-weight: 700;
    }

    a {
        text-decoration: none;
        color: #737373;
        font-weight: 400 !important;
    }

    a:hover {
        color: #3f51b5;
    }

    .tableOfContent {
        padding: 5px 0 10px 10px;
        font-size: 13px;
    }

    .divider {
        height: 1px;
        margin: 9px 0;
        overflow: hidden;
        background-color: #e5e5e5;
    }
</style>